<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>RCCG Resorts </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="stylesheets/img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.min.css">
        <link rel="stylesheet" href="stylesheets/css/magnific-popup.css">
        <link rel="stylesheet" href="stylesheets/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="stylesheets/css/dripicons.css">
        <link rel="stylesheet" href="stylesheets/css/slick.css">
        <link rel="stylesheet" href="stylesheets/css/meanmenu.css">
        <link rel="stylesheet" href="stylesheets/css/default.css">
        <link rel="stylesheet" href="stylesheets/css/style.css">
        <link rel="stylesheet" href="stylesheets/css/responsive.css">
    </head>